@import 'variables';

#profile{
    justify-content: space-evenly;
}

#description{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#description>div{
    display: flex;
    justify-content: right;
}

#descriptionp p{
    text-align: right;
}

.polaroid{
    background-color: $color-1;
    padding: 20px;
    width: 200px !important;
}

.polaroid img{
    width: 100%;
    align-self: center;
}

.polaroid p{
    text-align: left !important;
    width: fit-content;
}

.post-it{
    background-color: $color-3;
    padding: 20px;
    margin: 100px 0px;
    width: 200px;
    transform: rotate(10deg);
    align-self: self-end;
}

.section-post-it{
    display: flex;
    flex-direction: column;
}

.polaroid div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

