@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lugrasimo&family=Margarine&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lugrasimo&family=Margarine&family=Permanent+Marker&family=Sen:wght@400..800&display=swap');

$color-1: #FF79AA;
$color-2: #FA8054;
$color-3: #FFD863;
$color-4: #B0FB73;
$color-5: #93D3F1;
$color-bg: #815437;
$color-txt: #241108;
$color-white: #F0EADC;
$color-ocre: #CC8559;

$font-text: "Margarine";
$font-title: "Permanent Marker";
